---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import SideBar from "@components/widget/SideBar.astro";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import ImageWrapper from "../components/misc/ImageWrapper.astro";
import TOC from "../components/widget/TOC.astro";
import { siteConfig } from "../config";
import {
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
	MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from "../constants/constants";
import Layout from "./Layout.astro";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	headings?: MarkdownHeading[];
}

const {
	title,
	banner,
	description,
	lang,
	setOGTypeArticle,
	headings = [],
} = Astro.props;
const hasBannerCredit =
	siteConfig.banner.enable && siteConfig.banner.credit.enable;
const hasBannerLink = !!siteConfig.banner.credit.url;

const mainPanelTop = siteConfig.banner.enable
	? `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
	: "5.5rem";
---

<Layout title={title} banner={banner} description={description} lang={lang} setOGTypeArticle={setOGTypeArticle}>

  <!-- Head content -->
  <slot slot="head" name="head"></slot>

  <!-- Navbar -->
  <div id="top-row" class="z-50 relative max-w-[var(--page-width)] px-4 mx-auto">
    <div id="navbar-wrapper" class="sticky top-0">
      <Navbar></Navbar>
    </div>
  </div>

  <!-- Banner -->
  {siteConfig.banner.enable && (
    <div id="banner-wrapper" class="absolute z-10 w-full overflow-hidden" style={`top: -${BANNER_HEIGHT_EXTEND}vh`}>
      <ImageWrapper
        id="banner"
        alt="Khola Pata banner image"
        class:list={["object-cover h-full transition duration-700 opacity-0 scale-105"]}
        src={siteConfig.banner.src}
        position={siteConfig.banner.position}
      />
    </div>
  )}

  <!-- Main Content -->
  <div class="absolute w-full z-30" style={`top: ${mainPanelTop}`}>
    <div class="relative max-w-[var(--page-width)] mx-auto">
      <div id="main-grid" class="grid grid-cols-[17.5rem_auto] lg:grid-cols-[17.5rem_auto] gap-4 px-4">

        <!-- Banner Credit -->
        {hasBannerCredit && (
          <a
            href={siteConfig.banner.credit.url}
            id="banner-credit"
            target="_blank"
            rel="noopener"
            class="absolute right-4 -top-[3.25rem] bg-black/60 hover:bg-black/70 px-3 h-9 flex items-center rounded-full"
          >
            <Icon name="material-symbols:copyright-outline-rounded" class="text-white/75 text-lg mr-1" />
            <span class="text-white/75 text-xs">{siteConfig.banner.credit.text}</span>
            <Icon name="fa6-solid:arrow-up-right-from-square" class="text-green-300 ml-1 text-sm hidden group-hover:inline" />
          </a>
        )}

        <!-- Sidebar -->
        <SideBar class="row-start-2 lg:row-start-1 lg:max-w-[17.5rem]" headings={headings}></SideBar>

        <!-- Main Content Area -->
        <main class="col-span-2 lg:col-span-1 overflow-hidden">
          <div id="content-wrapper">
            <slot></slot>
            <Footer class="hidden lg:block" />
          </div>
        </main>

        <div class="lg:hidden">
          <Footer />
        </div>
      </div>
      <BackToTop />
    </div>
  </div>

  <!-- TOC (optional) -->
  {siteConfig.toc.enable && (
    <div class="absolute w-full z-0 hidden 2xl:block">
      <div class="relative max-w-[var(--page-width)] mx-auto">
        <div
          id="toc-wrapper"
          class="fixed top-14 w-[var(--toc-width)] h-[calc(100vh_-_20rem)] overflow-y-scroll right-0"
        >
          <TOC headings={headings} />
        </div>
      </div>
    </div>
  )}

</Layout>
